<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/paginas/header.css" />
    <link rel="stylesheet" href="./css/paginas/forms.css" />
    <link rel="stylesheet" href="./css/paginas/page-give-classes.css" />
    <title>
      Ortho Consult | Consultorias feitas com muito Amor
    </title>
  </head>
  <body id="page-give-classes">
    <div id="container">
      <header class="page-header">
        <div class="top-bar-container">
          <a href="/"> <img src="./images/icons/back.svg" alt="Voltar" /></a>
          <img
            src="./images/ortho-transparente-modificado.svg"
            alt="Ortho Consult"
          />
        </div>
        <div class="header-content">
          <strong>Segurança e Paz para a sua Consultoria Ortodôntica !</strong>
          <p>
            Faça o preenchimento do formulário com os seus dados e inicie a sua
            Consultoria Ortodôntica !
          </p>
        </div>
      </header>
      <main>
        <form action="" id="create-class">
          <fieldset>
            <legend>Seus dados</legend>
            <div class="input-block">
              <label for="name">Nome Completo</label>
              <input name="name" id="name" type="text" required />
            </div>
            <div class="input-block">
              <label for="avatar">Link da sua foto <small>(comece com https://)</small></label>
              <!--type="file"
                name="avatar"
                id="avatar"
                accept="image/*"
                required-->
              <input
              type="url" name="avatar" id="avatar" required/>
            </div>
            <div class="input-block">
              <label for="whatsapp"
                >Whatsapp <small>(somente números)</small></label
              >
              <input
                type="text"
                class="form-control"
                data-mask="(99) 99999-9999"
                name="whatsapp"
                id="whatsapp"
                required
              />
              <!--<input type="number" name="whatsapp" id="whatsapp" required />-->
            </div>
            <div class="textarea-block">
              <label for="bio">Biografia</label>
              <textarea name="bio" id="bio"  maxlength="3000" required></textarea>
            </div>
          </fieldset>
          <fieldset>
            <legend>Sobre a Consultoria</legend>
            <div class="select-block">
              <label for="subject">Temas</label>
              <select name="subject" id="subject" required>
                <option value="">Selecione uma opção</option>
                {%for subject in subjects %} 
                <option value="{{loop.index}}">{{subject}}</option>
                {%endfor%}

              </select>
            </div>
            <div class="input-block">
              <label for="cost">Custo da Consultoria <small>(R$)</small></label>
              <input
                name="cost"
                id="cost"
                type="number"
                min="50.00"
                max="1500.00"
                step="0.25"
                required
              />
            </div>
          </fieldset>
          <fieldset id="schedule-items">
            <legend>
              Horários disponíveis
              <button type ="button" id="add-time">+Novo Horário</button>
            </legend>
            <div class="schedule-item">
              <div class="select-block">
                <label for="weekday">Dia da semana</label>
                <select name="weekday[]" required>
                  <option value="">Selecione uma opção</option>
                {%for weekday in weekdays %} <!--dentro do for loop para o nunjunk o select name deve ser o name atribuido no caso weekday-->
                  <option value="{{loop.index0}}" >{{weekday}}</option>
                {%endfor%}
                </select>
              </div>
              <div class="input-block">
                <label for="time_from">Das</label>
                <input
                  type="time"
                  name="time_from[]"                  
                  required
                />
              </div>
              <div class="input-block">
                <label for="time_to">Até</label>
                <input
                  type="time"
                  name="time_to[]"                  
                  required
                />
              </div>
            </div>
          </fieldset>
        </form>
        <footer>
          <p>
            <img src="./images/icons/warning.svg" alt="Aviso importante" />
            Importante!<br> 
            Preencha todos os dados</br>
          </p>
          <button type="submit" form="create-class">Salvar cadastro</button>
        </footer>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script src="./scripts/addField.js"></script>
  </body>
</html>
